header .wrap{ 
  padding-bottom: 20px;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: #1e1f26;
  left: 0;
  padding-top: 35px;
}
header div.wrap h1 { 
  background-image: url("../img/logo2.png");
  width: 127px;
  height: 108px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 10px;
}
header div.wrap ul {
  padding-left: 23%;
  line-height: 3;
  font-size: 30px;
}
header div.wrap ul li {
  display: flex;
}
header div.wrap ul li:hover a{  
  /*! color: wheat; */
  /*! text-shadow: 1px 1px 3; */
}
header div.wrap ul li a {
  color: ghostwhite;
  /*! text-shadow: 3px 0px 10px; */
  font-size: 22px;
  line-height: 2.5;
  text-transform: uppercase;
}
header div.wrap p{
  position: absolute;
  left: 40px;
  bottom: 54px;
  font-size: 11px;
  width: 57%;
  line-height: 1.6;
  color: #ccc;
}