@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
section#skill{  
  background-color: #131417;
  position: relative;
  height: 100%;
  padding-top: 100px;
  width: 100%;
}
section#skill h2{  
  width: 50%;
  position: relative;
  color: white;
  display: flex;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  padding-bottom: 30px;
  margin-left: 200px;
  padding-left: 100px;
}
section#skill div{  
  margin-left: 200px;
  height: 100%;
}
.progress {
  position: relative;
  padding: 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 150px;
}
.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: Lato;
  font-weight: 100;
  color: whitesmoke;
}
.progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: 5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 12rem;
  left: 0px;
  font-size: 2rem;
  text-align: center;
}
.progress svg {
  width: 10rem;
  height: 11rem;
}
.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
}
.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  /*! stroke: #fff; */
  opacity: 0.9;
  -webkit-animation: load 10s;
          animation: load 10s;
}