.main-heading-wrapper {
    position: relative;
    margin-bottom: 76px;
  }
.main-heading-wrapper h1{
    position: relative;
    z-index: 1;
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 99px;
    line-height: 87px;
    font-weight: 800;
    text-transform: uppercase;
  }

.main-heading-wrapper h1:nth-child(1){
   margin-bottom: 25px;
   color: #1e1f26;
   color: #000;
   font: 500 120px 'Oswald', sans-serif;
}
.main-heading-wrapper h1:nth-child(2){
    color: #111;
}
.main-heading-wrapper h1:nth-child(2),.main-heading-wrapper h1:nth-child(3),.main-heading-wrapper h1:nth-child(4){
    font-size: 90px;
}
.main-heading-wrapper h1:nth-child(3){
  
}
.main-heading-wrapper h1:nth-child(4){
  
}
.main-heading-wrapper .without-code {
    color: white;
}